<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}{{ subtitle }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="{{ canonical-url }}">
    <link rel="stylesheet" href="{{ root }}css/main.css">
    <link rel="icon" type="image/png" href="{{ root }}favicon.png">
    <script src="{{ root }}mathjax/es5/tex-mml-chtml.js"></script>
    {{ head }}
  </head>
  <body>
    {{ body }}
    <footer>
      <hr>
      <div class="links">
        <a href="{{ root }}./">Home</a>
        <a href="{{ root }}meets/">Meets</a>
        <a href="https://github.com/offbeatcc">GitHub</a>
        <a href="https://twitter.com/offbeatcc">Twitter</a>
        <a href="https://web.libera.chat/#offbeat">Libera IRC</a>
        <a href="https://app.element.io/#/room/#offbeat:libera.chat">Matrix Bridge</a>
      </div>
      <p>&copy; 2021 Offbeat Computation Club</p>
    </footer>
  </body>
</html>
